<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<!-- For the Bootstrap Grid System, see https://getbootstrap.com/docs/5.2/layout/grid/ -->
<body>
<div class="container pt-5">
    <div class="row gx-5">
        <nav class="col-2">
            <h4>Navigation</h4>
            <menu>
                <li><a th:href="@{/newTask}">Add task ...</a></li>
                <li><a th:href="@{/tasks}">Get all tasks</a></li>
                <li><a th:href="@{/tasks?closed=false}">Get all open tasks</a></li>
                <li><a th:href="@{/tasks?closed=true}">Get all closed tasks</a></li>
            </menu>
        </nav>
        <div class="col-10">
            <h2 th:text="${title}">Tasks</h2>
            <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                <tr class="table-info">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Target end</th>
                    <th>Extra information</th>
                    <th>Closed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.idOption.isPresent ? task.idOption.orElseThrow : ''}">id</td>
                    <td th:text="${task.name}">name</td>
                    <td th:text="${task.description}">description</td>
                    <td th:text="${task.targetEndOption.isPresent ? task.targetEndOption.orElseThrow : ''}">target end
                    </td>
                    <td th:text="${task.extraInformationOption.orElse('')}">extra information</td>
                    <td th:text="${task.closed}">closed</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
-->
</body>
</html>